body{
    background-image: url("./sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
#conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(233,200,200,0.9),rgba(0,0,0,0.2) );
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#input{
    background-color: rgba(142,127,161,0.8);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
}
#input:focus{background-color: #fff;

}
#when-where{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#city{
    color: #fff;
    font-size: 45px;
}
#date{
    color: #fff;
    font-size: 24px;
}
#now{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#temperature{
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px  yellow;
    margin: 0;
}
#feelslike{
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    margin: 0;
}
#conditions{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;

}
#variation{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}


